.header
  .header__buttons
    .header__buttons__button
      %a{:href => '/'}
        %i.fa.fa-caret-up 
        %span top
    .header__buttons__button
      %a{ :href => '/about/works' }
        %i.fa.fa-edit
        %span works
    .header__buttons__button
      %a{ :href => '/about/contact'}
        %i.fa.fa-envelope 
        %span contact
    .header__buttons__button
      %a{ :href => '/about/others' }
        %i.fa.fa-reply
        %span others