.header
  .header__top
    %a{:href => '/'}
      %span Yamamoto Kazutaka's Portfolio
  .header__buttons
    .header__buttons__button
      %a{ :href => '/about/profile' }
        %i.fa.fa-user
        %span profile
    -# .header__buttons__button
    -#   %a{ :href => '/about/photos' }
    -#     %i.fa.fa-camera
    -#     %span photos
    .header__buttons__button
      %a{ :href => '/about/contact'}
        %i.fa.fa-envelope 
        %span contact