.contact-main
  =render './shared/header';
  .contact-main__title
    %span お問い合わせ
    %p contact
  .contact-main__contacts
    .contact-main__contacts__twitter
      %a{ :href => 'https://twitter.com/nN20xlZUKiSbF5S'}
        %i.fa.fa-twitter 