.main
  .main__title
    %h1 Yamamoto Kazutaka's Portfolio
  .main__buttons
    .main__buttons__button
      %a{:href => '/about/profile'}
        %i.fa.fa-user 
        %span profile
    .main__buttons__button
      %a{ :href => '/about/works' }
        %i.fa.fa-edit
        %span works
    .main__buttons__button
      %a{ :href => '/about/photos' }
        %i.fa.fa-camera
        %span photos
    .main__buttons__button
      %a{ :href => '/about/contact'}
        %i.fa.fa-envelope 
        %span contact