.works-main
  =render "./shared/header-works"
  .works-main__title
    %span 作品紹介
    %p works
  .works-main__contents
    .works-main__contents__content
    .works-main__contents__content
    .works-main__contents__content