.works-main
  =render "./shared/header-works"
  .works-main__title
    %span 作品紹介
    %p works
    %h5 画像をクリックするとアプリ説明画面に移ります。またその中のurlをクリックするとアプリが起動します。
  .works-main__contents
    .works-main__contents__content
      = link_to "/mercari.pdf",:target => ["_blank"] do
        = image_tag"mercari.png"
      .test
        %h3 mercariコピーサイト（TechExpert卒業作品）
        %p ruby/rails/htmlcss/JS/mysql2/github/aws/aws_s3
    .works-main__contents__content
      = link_to "/yoitoko.pdf",:target => ["_blank"] do
        = image_tag"yoitokoapp.png"
      .test
        %h3 検診フォームアプリ（神戸大学経済学部研究室から受注）
        %p ruby/rails/htmlcss/JS/mysql2/github/heroku
=render "./shared/footer"