.works-main
  =render "./shared/header-works"
  .works-main__title
    %span 作品紹介
    %p works
  .works-main__contents
    .works-main__contents__content
      = link_to ("/mercari.pdf") do
        = image_tag"mercari.png"
      %h3 mercariコピーサイト（TechExpert卒業作品）
      %p ruby/rails/htmlcss/JS/github/aws/aws_s3
    .works-main__contents__content
      = link_to("https://yoitokoapp.herokuapp.com/") do
        = image_tag"yoitokoapp.png"
      %h3 検診フォームアプリ（神戸大学経済学部研究室から受注）
      %p ruby/rails/htmlcss/JS/github/heroku
=render "./shared/footer"