.contact-main{
  background-color: #eeeeee;
  width: 100vw;
  height:100vh;
  &__title{
    text-align: center;
    padding:100px 100px 100px 100px;
    animation-name:fade-in;
    animation-duration: 4s;
    @keyframes fade-in {
      from{
          opacity: 0;
          transform: translateY(0px);
      }
      to{
        opacity: 1;
        transform: translateY(0);
      }
    }
    span{
      color:#FFA500;
      font-size: 20px;
    }
    p{
      margin:0;
      font-size:50px;
    }
  }
  &__text{
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
    animation-name:fadein;
    animation-duration: 4s;
    @keyframes fadein {
      from{
          opacity: 0;
          transform: translateX(80px);
      }
      to{
        opacity: 1;
        transform: translateX(0);
      }
    }
    span{
      color: purple;
      font-size: 20px;
    }
  }
  &__contacts{
    display: flex;
    animation-name:fadein;
    animation-duration: 4s;
    @keyframes fadein {
      from{
          opacity: 0;
          transform: translateX(80px);
      }
      to{
        opacity: 1;
        transform: translateX(0);
      }
    }
    &__form{
      padding-left: 120px;
      
    }
    &__twitter{
      height: 760px;
      width: 640px;
      text-align:center;
      vertical-align: middle;
      position: relative;
      i{
        width: 64px;
        height: 64px;
        border-radius: 4px;
        line-height: 64px;
        font-weight: 400;
        font-size: 36px;
        color: #fff;
        background: #385185;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }
    &__instagram{
      height: 760px;
      width: 640px;
      text-align:center;
      vertical-align: middle;
      position: relative;
      i{
        width: 64px;
        height: 64px;
        border-radius: 4px;
        line-height: 64px;
        font-weight: 400;
        font-size: 36px;
        color: #fff;
        background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }
  }
}