.header{
  background-color: #2F4F4F;
  height: 50px;
  &__top{
    display: inline-block;
    padding: 12px 0 0 15px;
    font-family: 'Limelight', cursive;
    a{
      color:white;
      padding-right: 50px;
      font-size: 22px;
      vertical-align: center;
      text-decoration: none;
    }
    a:hover{
      color:pink;
    }
  }
  &__buttons{
    display: flex;
    float:right;
    margin-top: 10px;
    a{
      color:white;
      padding-right: 50px;
      font-size: 22px;
      vertical-align: center;
      text-decoration: none;
    }
    a:hover{
      color:pink;
    }
  }
}